<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive/mobile.css">



    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    

    <header>

        <div class="backgroundImage">
            <img src="/images/HeaderBg.png" alt="">
        </div>

        <div class="blackpattern"></div>
        <div class="navbar">
            <div class="logo">
                <img src="/images/netflix logo.png" alt="">
            </div>

            <div class="rightNavbar">
                <div class="language">
                    <select name="Language" id="language">  
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                    </select>
                </div>
                <div class="signin">
                    <a href="/login">
                        <button class="btn-signin">Login</button>
                    </a>
                </div>
            </div>
            
        </div>

        <div class="HeaderCenter">
            <h1 id="HeaderH1">The biggest Indian hits. Ready to watch here from ₹149.</h1>
            <h4 id="HeaderH4"> Join today. Cancel anytime.</h4>
            <p id="ParaHeader">Ready to watch? Enter your email to create or restart your membership.</p>
            <form action="/login">
            <div class="emailHeader">
                <input type="email" placeholder="Email here">
                <button>Get Started</button>
            </div>
            </form>
        </div>
    </header>
    <main>
        <div class="FirstSection">

            <div class="LFSection">
                <h1 id="FH1">Enjoy On Your Tv</h1>
                <h3 id="FH4">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</h3>
            </div>
            <div class="RFSection">
                <img src="/images/tv.png" alt="">
                <video data-uia="nmhp-card-animation-asset-video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v" type="video/mp4"></video>
            </div>
        </div>


        <div class="SecondSection">

            <div class="RSSection">
                <img src="/images/mobile phone.jpg" alt="">
            </div>
             <div class="LSSection">
                <h1 id="SH1">Download Your Show to Watch Offline</h1>
                <h3 id="SH4">Save your favourites easily and always have something to watch.</h3>
            </div>
        </div>

           <div class="ThirdSection">

            <div class="LTSection">
                  <h1 id="TH1">Watch EveryWhere</h1>
                  <h3 id="TH4">Watching Movie , Webseries, Tv Shows , On your your Laptop</h3>
            </div>
            <div class="RTSection">
                <img src="/images/laptop_PNG101816-removebg-preview.png" alt="">
                <video data-uia="nmhp-card-animation-asset-video" autoplay="" playsinline="" muted="" loop=""><source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v" type="video/mp4"></video>
            </div>
        </div>
    </main>
    
<div class="footer">

    <div class="footercon">
      <div class="flex1">
        <h5>Questions? Call 1-866-579-7172
        </h5>
        <h5>
        </h5>
      </div>
    
      <ul class="list1">
    
        <li><a href="">FAQ</a></li>
        <li><a href="">Investor Relation</a></li>
        <li><a href="">Ways to Watch</a></li>
    
        <li><a href="">Corporate Information</a></li>
        <li><a href="">Netflix Originals</a></li>
      </ul>
      <ul class="list1">
        <li><a href="">Home</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Terms of Use</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">#</a></li>
      </ul>
      <ul class="list1">
        <li><a href="">Account</a></li>
        <li><a href="">Redeem Gift Cards</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Speed Test</a></li>
        <li><a href="">#</a></li>
    
      </ul>
      <ul class="list1">
        <li><a href="">Media Center<< /a>
        </li>
        <li><a href="">Buy Gift Cards</a></li>
        <li><a href="">Cookie Preferences</a></li>
        <li><a href="">Legal Notices</a></li>
        <li><a href="">#</a></li>
    
      </ul>
    
    </div>
    
    </div>
    <div class="end">
    <h2>
      Netflix US
    </h2>
    <h2>
    </h2>
</div>
    
</body>
</html>