<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazing Netflix Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
  <!-- Download Images from Github: https://github.com/tilakjain123/Amazing-Stuff/tree/main/Netflix%20Login%20Page -->
<body>
    <nav>
        <a href="/"><img src="https://res.cloudinary.com/da3wjnlzg/image/upload/f_auto,q_auto/v1/web_assets/kkbeb0pkqmhgzkjsuhb2" alt="logo"></a>
    </nav>
    <div class="form-wrapper">
        <h2>Sign In</h2>
        <form action="/login" method="post">
            <div class="form-control">
                <input name="email" type="email" required>
                <label>Email</label>
            </div>
            <div class="form-control">
                <input name="password" type="password" required>
                <label>Password</label>
            </div>
            <p  id="emessage"><%=locals.message%></p>
            <button type="submit">Login Here</button>
            <div class="form-help"> 
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <a href="#">Need help?</a>
            </div>
        </form>
        <p>New to Netflix? <a href="/register">Sign up now</a></p>
        <small>
            This page is protected by Google reCAPTCHA to ensure you're not a bot. 
            <a href="#">Learn more.</a>
        </small>
    </div>
</body>
</html>